.t2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #081e34;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.t1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #081e34;
  opacity: 0.5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: flex-end;
    width: 1120px;
    padding: 200px 160px 0px 160px;
}